{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "transpileTemplateLiterals": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
